server:
  port: 8080
  shutdown: graceful
spring:
  name: spring-hostel
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:hosteldb
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
  thymeleaf:
    cache: false
