server:
  port: 8080
  shutdown: graceful
spring:
  name: spring-hostel
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:hosteldb
    username: sa
    password: ""
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  thymeleaf:
    cache: false
